<a href="https://colab.research.google.com/github/Manochithra/first_streamlit_app/blob/main/Copy_of_8Feb2026_IK_Python_For_GenAI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

hello

In [ ]:
print("Learning Python")

Learning Python

In [ ]:
print("shift + enter >> to run the code cell")
# python comments are completely ignored by python
# comments are used to document code
# just add #  infront and that becomes comment
# select the lines we want tot comment and press cmd+/   OR ctrl+/

shift + enter >> to run the code cell

In [ ]:
# data types

In [ ]:
# str
name = "Ronaldo"
print(name)
print(type(name))

Ronaldo
<class 'str'>

In [ ]:
var = "this is a str"
print(var, type(var))

var = 'this is still a str'
print(var, type(var))

var = """this
is
still also
a str"""
print(var, type(var))

var = '''this
is
still also just
a str'''
print(var, type(var))

this is a str <class 'str'>
this is still a str <class 'str'>
this
is
still also
a str <class 'str'>
this
is
still also just
a str <class 'str'>

In [ ]:
# numerical

In [ ]:
# int
age = 40
print(age)
print(type(age))

40
<class 'int'>

In [ ]:
var = 1
print(var, type(var))

var = -10
print(var, type(var))

var = 0
print(var, type(var))

var = 123
print(var, type(var))

1 <class 'int'>
-10 <class 'int'>
0 <class 'int'>
123 <class 'int'>

In [ ]:
# float

In [ ]:
height = 1.87
print(height)
print(type(height))

1.87
<class 'float'>

In [ ]:
var = 1.123
print(var, type(var))

var = -10.0001
print(var, type(var))

var = 0.0
print(var, type(var))

var = 123.0
print(var, type(var))

1.123 <class 'float'>
-10.0001 <class 'float'>
0.0 <class 'float'>
123.0 <class 'float'>

In [ ]:
# bool

In [ ]:
yes = True
print(yes, type(yes))
no = False
print(no, type(no))

True <class 'bool'>
False <class 'bool'>

In [ ]:
# python is case sensitive

In [ ]:
# None
yearsFifaTrophy = None
print(yearsFifaTrophy, type(yearsFifaTrophy))

None <class 'NoneType'>

In [ ]:
# f strings

In [ ]:
planet = "Earth"
dia = 12742
statement = "I live on Earth that has diameter of 12742"
print(statement)

I live on Earth that has diameter of 12742

In [ ]:
planet = "Mars"
dia = 6779
statement = "I live on Earth that has diameter of 12742"
print(statement)

I live on Earth that has diameter of 12742

In [ ]:
planet = "Mars"
dia = 6779
# f str >> they allow you to use variables inside the str during creation
# 1: replace all data with varaibles in {}
# 2: add f in front
statement = f"I live on {planet} that has diameter of {dia}"
print(statement)

I live on Mars that has diameter of 6779

In [ ]:
planet = "Earth"
dia = 12742
# f str >> they allow you to use variables inside the str during creation
# 1: replace all data with varaibles in {}
# 2: add f in front
statement = f"I live on {planet} that has diameter of {dia}"
print(statement)

I live on Earth that has diameter of 12742

In [ ]:
# .format
planet = "Earth"
dia = 12742

statement = "I live on {} that has diameter of {}".format(planet, dia)
print(statement)

I live on Earth that has diameter of 12742

In [ ]:
# Mano Sakthivel to Host and panelists (11:09â€¯PM)
# How do you print special characters where we have double quotes within the statement

var = '''something
speacial
!@#$%&*()_{}":?><
ðŸ‘¨â€ðŸ’»
'''
print(var, type(var))

something
speacial
!@#$%&*()_{}":?><
ðŸ‘¨â€ðŸ’»
 <class 'str'>

In [ ]:
# arithmetic operations
a = 5
b = 10
print("a+b = ", a+b)
print("a-b = ", a-b)

print("a*b = ", a*b)
print("a/b = ", a/b)
print("b/a = ", b/a)# python division always return float

print("a**b = ", a**b) # a^b
print("a%b = ", a%b) # remainder

a+b =  15
a-b =  -5
a*b =  50
a/b =  0.5
b/a =  2.0
a**b =  9765625
a%b =  5

In [ ]:
# comparison operators
x = 10
y = 20


print("is x greater than y: ", x>y)
print("is x less than y: ", x<y)

print("is x equal to y: ", x==y)
print("is x not equal to y: ", x!=y)

print("is x greater than or equal to y: ", x>=y)
print("is x less than or equal to y: ", x<=y)

is x greater than y:  False
is x less than y:  True
is x equal to y:  False
is x not equal to y:  True
is x greater than or equal to y:  False
is x less than or equal to y:  True

In [ ]:
# logical operators
# and
# all the conditions should be True for output to be True
print(5>10 and 10<15)
print(5<10 and 10<15)
# or
# all the conditions should be False for output to be False
print(5>10 or 10<15)
print(5<10 or 10<15)
print(5>10 or 10>15)
# not
# oppsite
print(not True)
print(not False)

False
True
True
True
False
False
True

In [ ]:
# str

In [ ]:
text = "Hi How are you Python?"
print(text)

Hi How are you Python?

In [ ]:
text = "Hi How are you Python?"
print(text)
print(text.lower())
print(text.upper())

Hi How are you Python?
hi how are you python?
HI HOW ARE YOU PYTHON?

In [ ]:
text = "Hi How are you Python?"
print(text)
print(text.replace("Python", "World"))

Hi How are you Python?
Hi How are you World?

In [ ]:
text = "Hi How are you Python?"
print(text)
print(text.replace("Python", "Humans"))

Hi How are you Python?
Hi How are you Humans?

In [ ]:
text = "Hi How are you Python?"
print(text)
print(text.replace("o", "ðŸ…¾ï¸"))

Hi How are you Python?
Hi HðŸ…¾ï¸w are yðŸ…¾ï¸u PythðŸ…¾ï¸n?

In [ ]:
text = "Hi How are you Python?"
print(text)
# split >> list of str
print(text.split(" "))
print(text.split("o"))

Hi How are you Python?
['Hi', 'How', 'are', 'you', 'Python?']
['Hi H', 'w are y', 'u Pyth', 'n?']

In [ ]:
list_of_str = ['Hi', 'How', 'are', 'you', 'Python?']
# list_of_str > join >> single str
print("  ".join(list_of_str))

Hi  How  are  you  Python?

In [ ]:
# list
# []

In [ ]:
fruits = ["apple", "banana", "kiwi", "mango", "watermelon"]
print(fruits)
print(type(fruits))

# append>> adds one lement at the end of the list
fruits.append("cherry")
print(fruits)

# remove >> removes first occurenece of the value
fruits.remove("kiwi")
print(fruits)

['apple', 'banana', 'kiwi', 'mango', 'watermelon']
<class 'list'>
['apple', 'banana', 'kiwi', 'mango', 'watermelon', 'cherry']
['apple', 'banana', 'mango', 'watermelon', 'cherry']

In [ ]:
# list in python are ordered

# 0 index    0         1        2       3          4            5
fruits = ['apple', 'banana', 'kiwi', 'mango', 'watermelon', 'cherry']
# - index   -6        -5       -4      -3         -2           -1

print(fruits)
print(type(fruits))

print(fruits[0]) # first
print(fruits[3])
print(fruits[-1])  # last
print(fruits[-4])

fruits[3] = "alphanso"
print(fruits)

['apple', 'banana', 'kiwi', 'mango', 'watermelon', 'cherry']
<class 'list'>
apple
mango
cherry
kiwi
['apple', 'banana', 'kiwi', 'alphanso', 'watermelon', 'cherry']

In [ ]:
# slicing list >> list

# 0 index    0         1        2       3          4            5
fruits = ['apple', 'banana', 'kiwi', 'mango', 'watermelon', 'cherry']
# - index   -6        -5       -4      -3         -2           -1

print(fruits)

print(">>> lst [start:end] >> start, start+1, start+2...till end > end is NOT included")
print(fruits[1:4]) # start=1, end=4>>1,2,3
# default step is 1
print(">>> lst [start:end:step] >> start, start+1*step, start+2*step...till end > end is NOT included")
print(fruits[1:5:2])# start=1, end=5, step=2 > 1,3

# Geeta Vatkar      11:32â€¯PM
# we can have negative steps also?
print(fruits[5:1:-2])# start=5, end=1, step=-2 > 5,3

['apple', 'banana', 'kiwi', 'mango', 'watermelon', 'cherry']
>>> lst [start:end] >> start, start+1, start+2...till end > end is NOT included
['banana', 'kiwi', 'mango']
>>> lst [start:end:step] >> start, start+1*step, start+2*step...till end > end is NOT included
['banana', 'mango']
['cherry', 'mango']

In [ ]:
# tuples >> ()
# read only

dimensions = (1920, 1080)
print(dimensions)
print(type(dimensions))
print("width:", dimensions[0])
dimensions[0] = dimensions[0]*2

(1920, 1080)
<class 'tuple'>
width: 1920

TypeError: 'tuple' object does not support item assignment

In [ ]:
dimensions = [1920, 1080]
print(dimensions)
print(type(dimensions))
print("width:", dimensions[0])
dimensions[0] = dimensions[0]*2
print("width:", dimensions[0])

[1920, 1080]
<class 'list'>
width: 1920
width: 3840

In [ ]:
# sets
# {e1, e2...}
# empty set set()

fruits = {"apple",'banana','Apple','cherry',"apple",'mango',"apple"}
print(fruits)
# python sets do not allow duplicates
# python sets DO NOT maintain order

fruits.add("Kiwi")
print(fruits)

fruits.remove("Kiwi")
print(fruits)

{'Apple', 'cherry', 'mango', 'apple', 'banana'}
{'Apple', 'cherry', 'mango', 'apple', 'banana', 'Kiwi'}
{'Apple', 'cherry', 'mango', 'apple', 'banana'}

In [ ]:
'Apple' == 'apple'

False

In [ ]:
# dict
# oxford :
#   word>> meaning
# key:value
# {k1:v1, k2:v2...}
oxford = {"google":'gave us colab', 'apple':'iPhone', "openAI":'ChatGPT'}
print(oxford)
print(type(oxford))

{'google': 'gave us colab', 'apple': 'iPhone', 'openAI': 'ChatGPT'}
<class 'dict'>

In [ ]:
oxford = {"google":'gave us colab', 'apple':'iPhone', "openAI":'ChatGPT'}
print(oxford)

print(oxford['apple'])
# print(oxford['amazon']) # KeyError: 'amazon'

{'google': 'gave us colab', 'apple': 'iPhone', 'openAI': 'ChatGPT'}
iPhone

In [ ]:
oxford = {"google":'gave us colab', 'apple':'iPhone', "openAI":'ChatGPT'}
print(oxford)

print(oxford.get('apple', "Key NOT found"))
print(oxford.get('amazon', "Key NOT found"))

{'google': 'gave us colab', 'apple': 'iPhone', 'openAI': 'ChatGPT'}
iPhone
Key NOT found

In [ ]:
oxford = {"google":'gave us colab', 'apple':'iPhone', "openAI":'ChatGPT'}
print(oxford)

oxford['amazon'] = "AWS"
print(oxford)
oxford['apple'] = "fruit"
print(oxford)

{'google': 'gave us colab', 'apple': 'iPhone', 'openAI': 'ChatGPT'}
{'google': 'gave us colab', 'apple': 'iPhone', 'openAI': 'ChatGPT', 'amazon': 'AWS'}
{'google': 'gave us colab', 'apple': 'fruit', 'openAI': 'ChatGPT', 'amazon': 'AWS'}

In [ ]:
# if else

# if the num is +ive, -ive , neutral(0)
# else if >> elif
num = 0
if num>0:
    print(f"num={num} is +ive")
elif num<0:
    print(f"num={num} is -ive")
else:
    print(f"num={num} is neutral(0)")

num=0 is neutral(0)

In [ ]:
# loops
# for
# while

In [ ]:
# for
# fruits
fruits = ['banana', 'apple', 'kiwi', 'cherry']

for fruit in fruits:
    if fruit=='apple':
        print("keeps the doc away")
    print(fruit, type(fruit))

banana <class 'str'>
keeps the doc away
apple <class 'str'>
kiwi <class 'str'>
cherry <class 'str'>

In [ ]:
# range()

In [ ]:
print(">>> range(end) > 0,1,2,3...till end > end is NOT included")
for num in range(3):
    print(num)

print(">>> range(start, end) > start,start+1,start+2,...till end > end is NOT included")
for num in range(1,4):
    print(num)

print(">>> range(start, end, step) > start,start+1*step,start+2*step,...till end > end is NOT included")
for num in range(3,17, 4):# 3,7,11,15
    print(num)

>>> range(end) > 0,1,2,3...till end > end is NOT included
0
1
2
>>> range(start, end) > start,start+1,start+2,...till end > end is NOT included
1
2
3
>>> range(start, end, step) > start,start+1*step,start+2*step,...till end > end is NOT included
3
7
11
15

In [ ]:
# while

count = 1

while count<5:
    print(count)
    count = count+1

print("My count stopped when the count was five.:", count)

1
2
3
4
My count stopped when the count was five.: 5

In [ ]:
# jump statements
# continue
# break

In [ ]:
for num in range(5):
    print(num)

0
1
2
3
4

In [ ]:
# continue >> moment continue is triggered, skip the current iteration
for num in range(5):
    if num==3:
        continue
    print(num)

0
1
2
4

In [ ]:
# break >> moment break is triggered, skip the current iteration and completely stop the loop
for num in range(5):
    if num==3:
        break
    print(num)

0
1
2

In [ ]:
# functions

In [ ]:
def greet():
    return "Hey, How are you?"

In [ ]:
print(greet())
print(greet())
print(greet())

Hey, How are you?
Hey, How are you?
Hey, How are you?

In [ ]:
def add(a,b):
    print(f">> add>> a={a} b={b} a+b = {a+b}")
    return a+b
# positional arguments
print(add(5,2))
print(add(2,5))
# keyword arguments
print(add(b=2,a=5))

>> add>> a=5 b=2 a+b = 7
7
>> add>> a=2 b=5 a+b = 7
7
>> add>> a=5 b=2 a+b = 7
7

In [ ]:
def add(a,b):
    print(f">> add>> a={a} b={b} a+b = {a+b}")
    return a+b
# positional arguments
print(add(5,2))
print(add(2,5))
# keyword arguments
print(add(b=2,a=5))

# print(add(5)) # TypeError: add() missing 1 required positional argument: 'b'

>> add>> a=5 b=2 a+b = 7
7
>> add>> a=2 b=5 a+b = 7
7
>> add>> a=5 b=2 a+b = 7
7

In [ ]:
# default arguments
def add(a,b=0):
    print(f">> add>> a={a} b={b} a+b = {a+b}")
    return a+b
# positional arguments
print(add(5,2))
print(add(2,5))
# keyword arguments
print(add(b=2,a=5))

print(add(5))

>> add>> a=5 b=2 a+b = 7
7
>> add>> a=2 b=5 a+b = 7
7
>> add>> a=5 b=2 a+b = 7
7
>> add>> a=5 b=0 a+b = 5
5

In [ ]:
# Geeta Vatkar      12:08â€¯AM
# can I make datatype strict?
# default arguments
def add(a,b=0):
    if type(a) is int and type(b) is int:
        print("your inp is GOOD")
    else:
        print("ERROR: we only add int")
    print(f">> add>> a={a} b={b} a+b = {a+b}")
    return a+b
# positional arguments
print(add(5,2))
print(add(2,5))
# keyword arguments
print(add(b=2,a=5))

print(add(5))

your inp is GOOD
>> add>> a=5 b=2 a+b = 7
7
your inp is GOOD
>> add>> a=2 b=5 a+b = 7
7
your inp is GOOD
>> add>> a=5 b=2 a+b = 7
7
your inp is GOOD
>> add>> a=5 b=0 a+b = 5
5

In [ ]:
# *args >> accept any number of positional arguments
def func(*args):
    print(args, type(args))
func()
func(1,2)
func(1,2,3,4,5,6,7)

() <class 'tuple'>
(1, 2) <class 'tuple'>
(1, 2, 3, 4, 5, 6, 7) <class 'tuple'>

In [ ]:
# *args >> accept any number of positional arguments
# **kwargs >> accept any number of keyword arguments
def func(*args, **kwargs):
    print(args, type(args))
    print(kwargs, type(kwargs))
func()
print("===========================")
func(a="a",b="b")
print("===========================")
func(1,2, a=100,z =200)
print("===========================")
func(1,2,3,4,5,6,7)

() <class 'tuple'>
{} <class 'dict'>
===========================
() <class 'tuple'>
{'a': 'a', 'b': 'b'} <class 'dict'>
===========================
(1, 2) <class 'tuple'>
{'a': 100, 'z': 200} <class 'dict'>
===========================
(1, 2, 3, 4, 5, 6, 7) <class 'tuple'>
{} <class 'dict'>

In [ ]:
# Geeta Vatkar      12:13â€¯AM
# its tuple we can't change the value of args? we need to assign to temp value?
args = (1, 2, 3, 4, 5, 6, 7)
print(args, type(args))

args = list(args)
print(args, type(args))

(1, 2, 3, 4, 5, 6, 7) <class 'tuple'>
[1, 2, 3, 4, 5, 6, 7] <class 'list'>

In [ ]:
# Shital Joshi to Host and panelists (12:18â€¯AM)
# Can I add another fixed argument to this function?
def func(required, *args, **kwargs):
    print(required, args, kwargs)
func("Ronaldo", 1, 2,3, a="AAAA", b='BBBB')
# Shital Joshi to Host and panelists (12:20â€¯AM)
# Can required be a tuple
func((-1, -2, -3), 1, 2,3, a="AAAA", b='BBBB')

Ronaldo (1, 2, 3) {'a': 'AAAA', 'b': 'BBBB'}
(-1, -2, -3) (1, 2, 3) {'a': 'AAAA', 'b': 'BBBB'}

In [ ]:
# lambda

In [ ]:
# default arguments
def add(a,b=0):
    print(f">> add>> a={a} b={b} a+b = {a+b}")
    return a+b
# positional arguments
print(add(5,2))
print(add(2,5))
# keyword arguments
print(add(b=2,a=5))

print(add(5))

>> add>> a=5 b=2 a+b = 7
7
>> add>> a=2 b=5 a+b = 7
7
>> add>> a=5 b=2 a+b = 7
7
>> add>> a=5 b=0 a+b = 5
5

In [ ]:
#               lambda inp:out
add_lambda = lambda a,b=0: a+b
# positional arguments
print(add_lambda(5,2))
print(add_lambda(2,5))
# keyword arguments
print(add_lambda(b=2,a=5))

print(add_lambda(5))

7
7
7
5

In [ ]:
print(type(add))
print(type(add_lambda))

<class 'function'>
<class 'function'>

In [ ]:
random_func = lambda *args, **kwargs: {"args":args, "kwargs":kwargs}

print(random_func())
print("===========================")
print(random_func(a="a",b="b"))
print("===========================")
print(random_func(1,2, a=100,z =200))
print("===========================")
print(random_func(1,2,3,4,5,6,7))

{'args': (), 'kwargs': {}}
===========================
{'args': (), 'kwargs': {'a': 'a', 'b': 'b'}}
===========================
{'args': (1, 2), 'kwargs': {'a': 100, 'z': 200}}
===========================
{'args': (1, 2, 3, 4, 5, 6, 7), 'kwargs': {}}

In [ ]:
num = 23
print("+ive" if num>0 else "not +ive")

+ive

In [ ]:
isPositive = lambda num:"+ive" if num>0 else "not +ive"
print(isPositive(12))
print(isPositive(-100))

+ive
not +ive

In [ ]:
# pandas